html{
    font-size : 62.5%;
    box-sizing : border-box;
}

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0%;
}
body{
    display: block;
}
*,
*::before,
*::after {
    margin: 0%;
    padding: 0%;
    box-sizing: initial;
}
.main {
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -70%);
    width: 380px ; 
   
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}


.input {
    width: 80%;
    height: 60px;
    border: none;
    background-color: #1B1212;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    font-size: 3rem;
}


.colour {
    width: 64px;
    margin: 5px 5px;
    background-color:  #00b7eb;
    color: #ffff;
    height: 60px;
    font-size: 2rem;
    border: none;    
}

.btn {
    width: 64px;
    margin: 5px 5px;
    background-color: #F5F5F5 ;
    color: #000;
    height: 60px;
    font-size: 2rem;
    border: none;
}

.piont {
    width: 64px;
    margin: 5px 5px;
    background-color: #fd0e0e ;
    color: #000;
    height: 60px;
    font-size: 2rem;
    border: none;
}
.equal {
    height: 67%;
    width: 61px;
    margin-left: 62%;
    margin-top: -74%;   
    position: relative;
    position: absolute;
    background-color: #20b2aa;
    font-size: 2rem;
    border: none;
}

.clear {
    width: 64px;
    margin: 5px 5px   ;
    background-color:  #FFFF00;
    color: #000;
    height: 61px;
    font-size: 1.8rem;
    border: none;
}





















